<header>
	<h1>Benvenuto in {{title}}</h1>
	<p>Questo è il contenuto di index</p>
</header>
<a href="#work" class="jumplink pic">
	<span class="arrow icon fa-chevron-right"><span>See my work</span></span>
	<img src="images/me.jpg" alt="" />
</a>