
<!DOCTYPE HTML>
<!--
	Astral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Astral by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="stylesheets/main.css" />
		<noscript><link rel="stylesheet" href="stylesheets/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<a href="#home" class="icon fa-home"><span>Home</span></a>
            			<a href="#charts" class="icon fa-line-chart"><span>Charts</span></a>
					</nav>

				<!-- Main -->
					<div id="main">
					<article id="home" class="panel intro">
					   <header>
							{{#if user}}
								<p>Hello, {{user.username}}</p>
							{{else}}
								<p>Welcome! Please <a href="#login">log in</a>.</p>
							{{/if}}
					   </header>
					  </article>
					  <article id="charts" class="panel">
						{{#if user}}
						<header>
							<p>Pagina: "{{title}}"</p>
							<p>Questo è il contenuto di charts</p>
							<p>Prova ad utilizzare queste librerie: <a href="https://gionkunz.github.io/chartist-js/index.html">Chartist.js</a></p>
						</header>
						<a href="#charts" class="jumplink pic">
							<span class="arrow icon fa-chevron-right"><span>See my work</span></span>
							<img src="images/me.jpg" alt="" />
						</a>
						{{else}}
							<p> Please <a href="#login">log in</a>.</p>
						{{/if}}
					  </article>

					  <article id="login" class="panel">
						  <p>This is the login page</p>
							<form action="/login" method="post">
								<div>
								<label>Username:</label>
								<input type="text" name="username"/><br/>
								</div>
								<div>
								<label>Password:</label>
								<input type="password" name="password"/>
								</div>
								<div>
								<input type="submit" value="Submit"/>
								</div>
							</form>
					  </article>
			  		</div>

				<!-- Footer -->
					<div id="footer">
						<ul class="copyright">
							<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="javascripts/jquery.min.js"></script>
			<script src="javascripts/browser.min.js"></script>
			<script src="javascripts/breakpoints.min.js"></script>
			<script src="javascripts/util.js"></script>
			<script src="javascripts/main.js"></script>

	</body>
</html>