
/*
	Regole aggiunte per gestire la responsività del grafico
*/


@media screen and (max-height: 2000px) {
	.chart-wrapper {
		min-height: 40vh; /* 40% della viewport height*/
	}
}
@media screen and (max-height: 800px) {
	.chart-wrapper {
		min-height: 50vh; /* 50% della viewport height*/
	}
}
@media screen and (max-height: 300px) {
.chart-wrapper {
	min-height: 250px;
	}
}

.login-form{
	display: inline-block;
}

.register-button-wrapper{
	margin-top: 5px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
	display: inline-block;
}

.register-button{
	text-decoration-line: none;
}

.submit-button-wrapper{
	margin-top: 5px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;

	display: inline-block;
}

	